/* Apply global reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Forgot {
  display: flex;
  flex-direction: column; /* Stack header and form vertically */
  height: 100vh; /* Full viewport height */
}

/* The container for the form, centered vertically */
.forgot-container {
  display: flex;
  justify-content: center; /* Horizontally center the form */
  align-items: center; /* Vertically center the form */
  flex: 1; /* Take up remaining space after header */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  /* Added shadow to the form */
 
}

/* Styling for the form */
.forgot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 40px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow: 0px offset, 4px blur, 15px spread, and light opacity */
  margin-top: 20px; /* Optional, if you want to give space between the header and form */
  border-radius: 5px;
}

/* Logo styling */
.forgot-logo-content {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.forgot-logo-content img {
  width: 200px;
  height: 200px;
  object-fit: fill;
}

/* Label and input styling */
.forgot-email-input {
  width: 100%;
  margin-bottom: 20px;
}

.forgot-email-input label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.forgot-email-input input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.forgot-email-input input:focus {
  border-color: #4CAF50;
}

/* Button styling */
#forgot-button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#forgot-button:hover {
  background-color: #45a049;
}

.send-reset-success {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.send-reset-success > img {
    width: 300px;
    height: auto;
}