@import './index.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: var(--black-color);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    font-family: "roboto-medium", sans-serif;
    letter-spacing: 1px;
}

.title{
    color: var(--white-color);
    margin-left: .5rem;
}

.logo{
    width: 80px;
    height: 80px;
    padding: 5px;
}