@import url('./index.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.login .content-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
}

.login .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: transparent;
    flex-basis: 70%;
    padding: 100px;
    order: 2;
    padding-top: 10%;
}

.login .wrapper1 {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login .container2 {
    flex: 1;
    flex-basis: 40%;
    height: 100%;
    padding-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
}


.login #banner-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 2.6rem;
    align-self: flex-start;
    width: 70%;
    color: #191919;

}


.login #banner {
    width: 90%;
    height: auto;
    padding-top: 20px;
    
}



.login .form {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid black;
    padding: 30px;
}

.login #sign-in-txt {
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    align-self: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
}

.login .input-group {
    width: 100%;
    margin-bottom: 10px;
}

.login .labels {
    font-size: 1.2em;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.login .inputs {
    padding: 5px;
    margin-bottom: 2vh;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    font-size: 1.3em;
    width: 100%;
}

.login .btn-container {
    width: 100%;
    padding: 15px;
}

.social-btn{
    width: 100%;
    padding: 10px 15px;
}

.login .signin {
    font-family: 'roboto-medium', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.login .signinlink {
    color: rgb(40, 40, 204);
    text-decoration: underline;
    padding-left: 2px;
    cursor: pointer;
}

.login .error-message {
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(--error-txt-color);
    background-color: var(--error-bg);
    padding: 5px;
    border-radius: 3px;
}

.login .seperator {
    width: 100%;
    margin: 2rem 0;
    text-align: center;
    position: relative;
}

.login .seperator span {
    background-color: #FFFF;
    font-size: 1.06rem;
    position: relative;
    z-index: 1;
    color:#1919199f;
    font-family: 'roboto-normal', sans-serif;
    padding: 0 5px;
} 

.login .seperator::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #1919199f;
    top: 50%;
    z-index: 0;

}


@media (max-width: 768px){
        

.login .container1 {
        display: none;
    }

    .login .container2{
        width: 100%;
        flex-basis: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
       margin-top: 1.5em;
    }

    .login .seperator{
        margin: 10px;
    }

    .login .btn-container{
        padding: 0;
    }

    .login .input-group{
        margin: 0;
    }

    .login .sign-up-txt{
        margin: 0;
    }
}