
@import './index.css';
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

.registration .content-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.registration .container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: transparent;
    flex-basis: 70%;
    padding: 100px;
    padding-top: 10%;
}

.registration .wrapper1{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registration .container2{
    flex: 1;
    flex-basis: 40%;       
    height: 100%;
    padding-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.registration #banner-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 2.6rem;
    align-self: flex-start;
    width: 70%;
    color: #191919;

}


.registration #banner{
    width: 90%;
    height: auto;
    padding-top: 20px;
}



.registration .form{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid black;
    padding: 30px;
}

.registration #sign-up-txt{
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    align-self: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
}

.registration .input-group{
    width: 100%;
    margin-bottom: 10px;
}

.registration .labels {
    font-size: 1.2em;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.registration .inputs {
    padding: 5px;
    margin-bottom: 2vh;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    font-size: 1.3em;
    width: 100%;
}

.registration .btn-container{
    width: 100%;
    padding: 15px;
}

.registration .signin {
    font-family: 'roboto-normal', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.registration .signinlink{
    color: rgb(40, 40, 204);
    text-decoration: underline;
    padding-left: 2px;
    cursor: pointer;
}

.registration .error-message{
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(--error-txt-color);
    background-color: var(--error-bg);
    padding: 5px;
    border-radius: 3px;
}




@media (max-width: 768px){


   .registration .container1 {
            display: none;
        }

    .registration .container2{
        width: 100%;
            flex-basis: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 1.5em;
    }

         .registration .btn-container {
             padding: 0;
         }
    
         .registration .input-group {
             margin: 0;
         }
    
         .registration .btn-plain-black{
            margin: 15px 0;
         }

         .registration .signin{
            font-size: .9em;
         }
         
}